@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

.choose-videos-gallery-container {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  font-weight: bold;
}

.wrapper-container {
  width: fit-content;
  display: flex;
  gap: 50px;
  position: relative;
  justify-content: center;
}
.wrapper-container .videos-pick-wrapper:hover, .wrapper-container .gallery-pick-wrapper:hover {
  cursor: pointer;
}

.wrapper-container::after {
  content: "";
  width: calc(50% - 20px);
  height: 2px;
  background-color: #ffa500;
  position: absolute;
  bottom: 0;
  transition: left 0.3s ease;
}

.wrapper-container.left-underline::after {
  left: 0;
}

.wrapper-container.right-underline::after {
  left: 58%;
}

.videos-gallery-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.videos-gallery-container .video {
  border-radius: 10px;
}
.videos-gallery-container .video .video-display {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.videos-gallery-container .video .video-display iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photos-gallery-container {
  margin-top: 1em;
}
.photos-gallery-container .gallery-picker {
  width: fit-content;
  display: flex;
  gap: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.photos-gallery-container .gallery-picker .gallery-pick {
  font-weight: bold;
}
.photos-gallery-container .gallery-picker .gallery-pick:hover {
  cursor: pointer;
}
.photos-gallery-container .gallery-picker .wrapper-container::after {
  content: "";
  width: calc(50% - 15px);
  height: 2px;
  background-color: #ffa500;
  position: absolute;
  bottom: 0;
  transition: left 0.3s ease;
}
.photos-gallery-container .gallery-picker .wrapper-container.left-underline::after {
  left: -3%;
}
.photos-gallery-container .gallery-picker .wrapper-container.right-underline::after {
  left: 59%;
}

.photos-gallery-content-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}
.photos-gallery-content-container img {
  max-width: 40vw;
  border-radius: 10px;
}

.photos-gallery-error {
  margin-top: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .videos-gallery-container {
    grid-template-columns: 1fr;
  }
  .photos-gallery-content-container {
    grid-template-columns: 1fr;
  }
  .photos-gallery-content-container img {
    max-width: 90vw;
  }
}

/*# sourceMappingURL=Gallery.css.map */
